<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <a href="">
      <div style="clear: both; width: 100%"></div>
      <div class="wpp-1">
        <img src="images/balao (1).png" alt="" />
        <span>
          <strong> Atendimento Personalizado</strong> <br />Tire todas as suas
          dúvidas conosco</span
        >
      </div>
      <div class="wpp-2">
        <img src="images/click (1).png" alt="" />
        <div>Chamar no WhatsApp</div>
      </div>
      <div style="clear: both; width: 100%"></div>
    </a>
  </body>
</html>
