* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: cornflowerblue;
}
.container {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 15px;
}
.img {
  /* imagem da monalisa foi baixada num tamanho diferente das outas */
  width: 70px;
  height: 80px;
}

img {
  width: 60px;
  height: 70px;
}

.footer {
  display: flex;
  margin: 8px;
  max-width: 10%;
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 40px;
}
.flex p {
  display: contents;
}
p {
  font-size: 14px;
}

/* mobile */

@media (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    max-width: 800px;
    line-height: 13px;
  }
  .flex {
    display: flex;
    position: relative;
    right: 120px;
    bottom: 5px;
    top: 5px;
    gap: 2px;
    width: 200px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }

  .footer {
    display: flex;
    max-width: 60%;
    margin: 8px;
  }
  .img {
    width: 90px;
    height: 90px;
  }
  img {
    width: 80px;
    height: 80px;
  }
  p {
    font-size: 14px;
  }
}
